#pokemon-team article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f8ff;
    border: 2px solid #1b8dff67;
    border-radius: 5px;
    box-shadow: 4px 4px 15px #1b8dff34;
    min-width: 200px;
    min-height: 300px;
}

#pokemon-team {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
}

main {
    padding-bottom: 100px;
    grid-template-columns: 800px;
}

select {
    min-width: 150px;
    margin-right: 20px;
}

input {
    margin-right: 20px;
}

input[type="number"] {
    max-width: 50px;
}

ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 25px
}